*{
	&::-webkit-scrollbar {
    width: 4px;
    height: 8px;
    border-radius: 4px;
    transition: .3s background;
  }

  &::-webkit-scrollbar-thumb {
    background: none;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: #368fff;
  }
}
.theme-default-content:not(.custom){
  max-width:none!important;
}
.content{
  max-width:none!important;
}
.page-edit, .page-nav{
  max-width:none!important;
}
a.sidebar-link.active{
  background: rgb(236, 244, 255);
}
.interface-container{
  button {
    height: 40px;
    background: #1989fa;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    border: 1px solid #1989fa;
    margin: 10px;
  }
  .resultContainer {
    margin: 10px;
  }
  input {
    margin-bottom: 20px;
    height: 20px;
    width: 200px;
    margin-left: 10px;
  }
}